/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

:root {
  --accent: #f45300;
  --black: #121212;
  /* --white: #e8eae8; */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  font-optical-sizing: auto;
  color: #232410;
}

.goHome {
  cursor: pointer;
  background-color: #E0E0D1;
  margin: 1rem;
  border-radius: 50rem;
  padding: .5rem;


}

body {
  background-color: var(--white);
}

.container {
  width: 100%;
  height: 100%;
}




.tags {
  display: flex;
  gap: .5em;
}

#recipeSearchBox {
  width: min(100%, 700px);
  margin: auto;
  display: flex;
  flex-direction: column;
  /* border: solid 1px red; */
}

.searchInput {
  display: flex;
  /* border: solid 1px red; */
  background-color: #E0E0D1;
}


#recipeSearchInput {
  font-size: 1em;
  width: 100%;
  background-color: #E0E0D1;
  color: #232410 !important;
}

#recipeSearchBtn {
  padding: .5em .8em;
  border-radius: 0 .5em .5em 0;
  cursor: pointer;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: var(--black);
}

input {
  -webkit-autocomplete: off;
  -moz-autocomplete: off;
  autocomplete: off;
}

/* Change autocomplete background color */
input:-webkit-autofill {
  background-color: #232410;
  /* Change to your desired background color */
}

/* Change autocomplete text color */
input:-webkit-autofill {
  color: #F3F3E7;
  /* Change to your desired text color */
}


.itemEntered {
  padding: .5rem .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
  background-color: #E0E0D1;
  color: #232410 !important;
  gap: .25rem;
  margin-top: .5rem;
  ;
}

.mealTag {
  background-color: #232410;
  color: #F3F3E7 !important;
}


.itemEntered button {
  padding: 0 .1em;
  color: #232410;
  font-weight: bold;
  font-size: 1em;
  background: none;
  border: none;
  cursor: pointer;
}

.suggestionBox {

  margin: .5rem;
  max-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-self: center;
  background-color: #E0E0D1;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}


.suggestionBox::-webkit-scrollbar {
  display: none;
}

.suggestionBox span {
  cursor: pointer;
}

.suggestion:hover {
  background-color: #CECEB6;
  color: black;
}

.suggestion {
  padding-left: 1em;
  font-family: "Poppins", sans-serif !important;
}

header {
  width: 100%;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  padding: .8em 1em;
  justify-content: space-between;
  gap: 1em;
  position: sticky;
  top: 0;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.icon {
  display: flex;
  align-items: center;
  color: #fff
}

#logo {
  color: #fff;
}

input[type="text"],
input[type="password"],
textarea {
  /* border: none; */
  outline: none;
}

.selectedItems {
  display: flex;
  flex-wrap: wrap;
  background-color: #F3F3E7;
  gap: 0 .5rem;

}

.poppin {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.25rem;
}


.desc {
  background-color: #E0E0D1;
  color: #232410;
  /* border: solid 1px #F59E0C; */
}

.disabledButton {
  background-color: #abab9f !important;
  color: #E0E0D1 !important;
}


@media screen and (max-width: 650px) {

  .recipeCard {
    flex-direction: column;
  }


  .icon h1 {
    display: none;
  }

}

body {
  padding: 2rem;
}



#root {
  background-color: #F3F3E7;
}

.box-section {
  background-color: #F3F3E7;
}

.search-btn {
  background-color: #232410;
  border-radius: 50rem;

  * {
    margin: .25rem !important;
    color: #F3F3E7 !important;
    font-size: 1.5rem;

  }

}


input::placeholder {
  color: #E0E0D1;
  opacity: 1;
  /* Firefox */
}


.display-card {
  background-color: #E0E0D1;
}

.recipeContainer {
  background-color: #E0E0D1;
}

.recipeViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.instructionBox {
  background-color: #E0E0D1 !important;

  .stepsButton {
    background-color: #232410;
    color: #F3F3E7;
    padding: .5rem 1rem;
    border-radius: 50rem;
  }
}


@media screen and (max-width: 1024px) {

  .imageContainer {
    height: 8rem !important;
    border-radius: 1.5rem 1.5rem 0 0 !important;
  }

  .recipeInfo {
    padding: 1rem 1rem 1rem 1rem;

    p {
      font-size: 14px;
    }

    li {
      font-size: 14px;
    }

    h1 {
      font-size: 2rem;
    }
  }

  .instructionTitle {
    font-size: 2rem;
  }

}